.button {
  outline: none;
  border: none;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.ghost {
}

.warning {
  color: var(--soft-red);
}

.primary {
  background-color: var(--moderate-blue);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
}
